<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button (click)="sidenav.toggle()" mat-icon-button *ngIf="loggedIn()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="span">HR-Management</span>
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav [opened]="showSidebar" class="side-nav-left">
    <mat-nav-list>
      <a mat-list-item routerLink="" (click)="sidenav.toggle()">Home</a>
      <a mat-list-item routerLink="timetracking" (click)="sidenav.toggle()">Zeiterfassung</a>
      <a mat-list-item routerLink="calendar" (click)="sidenav.toggle()">Kalender</a>
      <mat-list-item>
        <p routerLink="profile" (click)="sidenav.toggle()" style="padding-top: 15px">Profil</p>
      </mat-list-item>
      <a mat-list-item routerLink="admin/employee" (click)="sidenav.toggle()">User Verwaltung</a>

    </mat-nav-list>
    <div class="row" style="padding-left: 10px">
      <button (click)="sidenav.toggle(); logout()" mat-flat-button color="primary">Logout
        <mat-icon fontIcon="logout"></mat-icon>
      </button>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
