<mat-card>
  <mat-card-title>Termin anlegen</mat-card-title>
  <mat-card-content>
    <form
      id="create-appointment-form"
      (ngSubmit)="createAppointment()"
      style="padding: 10px"
    >
      <mat-form-field appearance="outline">
        <mat-label>Titel</mat-label>
        <input
          name="titel"
          [(ngModel)]="appointment.titel"
          matInput
          style="color: gray"
        />
      </mat-form-field>
      <mat-form-field appearence="outline">
        <mat-label>Priorität</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let priorityOption of priorityOptions"
            [value]="appointment.priority"
          >
            {{ priorityOption }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Beginn</mat-label>
        <input
          name="beginn"
          [(ngModel)]="appointment.beginn"
          matInput
          style="color: gray"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Ende</mat-label>
        <input
          name="ende"
          [(ngModel)]="appointment.beginn"
          matInput
          style="color: gray"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Datum</mat-label>
        <input matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearence="outline">
        <mat-label>Projekt</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let projekt of data"
            [value]="projekt.bezeichnung"
          >
            {{ projekt.bezeichnung }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Beschreibung</mat-label>
        <textarea
          name="beschreibung"
          [(ngModel)]="appointment.beschreibung"
          matInput
          style="color: gray"
        ></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Termin anlegen
      </button>
    </form>
  </mat-card-content>
</mat-card>
