form {
  display: flex;
  justify-content: center;
}


.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

:host {
  display: flex;
  justify-content: center;
  margin-top: 2%;

}
