.appointment-td {
  height: 10vh;
}
:host {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  height: 90%;
}
mat-card {
  margin-top: 2%;
  width: 70%;
}

.calendar-buttons {
  display: inline;
}
