<mat-card>
  <mat-card-content>
    <div style="margin-bottom: 10px">
      <h1>Kalender</h1>
      <button
        style="margin-right: 5px; display: inline"
        (click)="showAppointmentsPreviousWeek()"
        mat-raised-button
        color="primary"
        type="submit"
      >
        <mat-icon aria-hidden="false" fontIcon="arrow_back"></mat-icon>
      </button>

      <h2 style="display: inline" *ngIf="calendarData">
        {{ calendarData.startOfWeek }} - {{ calendarData.endOfWeek }}
      </h2>

      <button
        style="display: inline"
        (click)="showAppointmentsNextWeek()"
        mat-raised-button
        color="primary"
        type="submit"
      >
        <mat-icon aria-hidden="false" fontIcon="arrow_forward"></mat-icon>
      </button>
    </div>
    <table
      mat-table
      [dataSource]="calendarData.appointments"
      class="mat-elevation-z8"
      *ngIf="calendarData"
    >
      <ng-container matColumnDef="Montag">
        <th class="bold" mat-header-cell *matHeaderCellDef>Montag</th>
        <td class="appointment-td" mat-cell *matCellDef="let appointment">
          <app-appointment
            [loggedInUser]="loggedInUser"
            [appointment]="appointment.monday"
            [employees]="employees"
            [projects]="projects"
          >
          </app-appointment>
        </td>
      </ng-container>

      <ng-container matColumnDef="Dienstag">
        <th class="bold" mat-header-cell *matHeaderCellDef>Dienstag</th>
        <td mat-cell *matCellDef="let appointment">
          <app-appointment
            [loggedInUser]="loggedInUser"
            [appointment]="appointment.tuesday"
            [employees]="employees"
            [projects]="projects"
          >
          </app-appointment>
        </td>
      </ng-container>

      <ng-container matColumnDef="Mittwoch">
        <th class="bold" mat-header-cell *matHeaderCellDef>Mittwoch</th>
        <td mat-cell *matCellDef="let appointment">
          <app-appointment
            [loggedInUser]="loggedInUser"
            [appointment]="appointment.wednesday"
            [employees]="employees"
            [projects]="projects"
          >
          </app-appointment>
        </td>
      </ng-container>

      <ng-container matColumnDef="Donnerstag">
        <th class="bold" mat-header-cell *matHeaderCellDef>Donnerstag</th>
        <td mat-cell *matCellDef="let appointment">
          <app-appointment
            [loggedInUser]="loggedInUser"
            [appointment]="appointment.thursday"
            [employees]="employees"
            [projects]="projects"
          >
          </app-appointment>
        </td>
      </ng-container>

      <ng-container matColumnDef="Freitag">
        <th class="bold" mat-header-cell *matHeaderCellDef>Freitag</th>
        <td mat-cell *matCellDef="let appointment">
          <app-appointment
            [loggedInUser]="loggedInUser"
            [appointment]="appointment.friday"
            [employees]="employees"
            [projects]="projects"
          >
          </app-appointment>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div style="margin-right: 5px; float: right; margin-top: 10px">
      <button
        mat-fab
        color="primary"
        (click)="showAddAppointmentForm()"
        type="submit"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
