:host {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card {
  width: 55%;
}

mat-card-title {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}
mat-card-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5%;
}

.error {
  padding: 16px;
  color: white;
  background-color: red;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

form {
  width: 45%;
}
