<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content style="width: 100%">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="column">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          required
          type="email"
          matInput
          placeholder="Enter email..."
          formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Enter password..."
          formControlName="password">
      </mat-form-field>

      <p *ngIf="errorMessage" class="error">
        {{ errorMessage}}
      </p>

      <div class="button">
        <button mat-raised-button color="primary" type="submit" style="width: 100%" >Login</button>
      </div>


    </form>
  </mat-card-content>
</mat-card>
