/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sidenav-content {
  margin-top: 5vh;
  height: 92vh;
  width: 90vw;
  margin-left: 4vw;
}

.bold {
  font-weight: bold;
}

#create-appointment-form
  .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
  .mat-mdc-form-field-infix {
  padding-top: 16px;
  padding-bottom: 16px;
}

#create-appointment-form .mat-mdc-form-field {
  width: 212px;
}

#update-appointment-form
  .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
  .mat-mdc-form-field-infix {
  padding-top: 16px;
  padding-bottom: 16px;
}

#update-appointment-form .mat-mdc-form-field {
  width: 212px;
}
